<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqBDvrevyUi-O8PNGZFJNXN69DwlF6gaU</string>
	<key>GCM_SENDER_ID</key>
	<string>973996384416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webPortal</string>
	<key>PROJECT_ID</key>
	<string>billmanagement-99681</string>
	<key>STORAGE_BUCKET</key>
	<string>billmanagement-99681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973996384416:ios:1292471c3baad8f5cce9c5</string>
</dict>
</plist>